body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header img{
    height: 75%;
}
header div{
    width: 300px;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div p{
    color: #EF7BBA;
    font-weight: bold;
    border-bottom: 2px #EF7BBA solid;
}